html{
    font-family: 宋体, cursive;
    width: 100%;
}
body{
    width: 100%;
}
div{
    display: block;
}
ul{
    list-style: none;
}
/*导航*/
.navbar{
    height: 96px;
    background-color: #fff;
    margin-bottom:0;
}
.navbar-nav{
    margin-top:35px;
}
.navbar-header{
    height: 90px;
    margin-top: 5px;
}
.navbar-collapse ul{
    margin-left: 40px;
}
@media (max-width: 768px) {
    .navbar-collapse ul{
        left: -41px;
        background-color: white;
        position: absolute;
        width: 102%;
        top: 58px;
        z-index: 9999;
    }
}
.navbar-collapse ul li{
    margin-left: 36px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #e83d29;
    background-color: transparent;
}
.language{
    position: absolute;
    right: 15%;
    top: 10px;
}
.language img{
    margin-right: 10px;
}
.glyphicon-search{
    color: black;
}


/*banner*/
#banner{
    text-align:center;
    color: white;
    position: relative;
}

.banner-tips{
    position: absolute;
    font-weight: bold;
    top:35%;
    left: 45%;
}
.guanyu{
    font-size:20px;
}
@media (max-width: 768px) {
    .guanyu{
        font-size:16px;
    }
    .banner-tips{
        position: absolute;
        font-weight: bold;
        top:25%;
        left: 45%;
    }
}

/*title*/
#title{
    background-color: #eee;
}
.nav-pills li a{
    color: #333333;
}
.nav-pills li a:hover{
    color: #083a83;
}
.nav-pills>li.active>a{
    color: white;
    background-color: #083a83;
}
.nav-pills>li>a {
    border-radius: 0;
}
.title-right{
    padding-top: 10px;
}
.title-right a{
    color: #333;
    text-decoration: none;
}
.title-right a:hover{
    color: #e83d29;
}
.glyphicon-chevron-right{
    font-size: 10px;
}

/*main标题*/
#main{
    margin-top: 40px;
    padding: 0 10px;
}
#main>p{
    font-size: 24px;
}


/*service*/
#service{
    margin-bottom: 40px;
}
#service-left{
    background-color: #eeeeee;
    padding: 0 0 50px 0;
}
#service p{
    text-align: center;
    font-size: 14px;
}
#service span{
    padding: 10px 40px;
    border-bottom: 1px solid #083a80;
}
#service-left .title{
    text-align: center;
    color: #083a80;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#right-form1,#right-form2,#right-form3{
    padding:30px 0;
}
@media (max-width: 992px) {
    #right-form1 img,#right-form2 img,#right-form3 img{
        width: 75px;
    }
}
#right-form1 .btn{
    background-color: #e83d29;
    color: white;
    width: 30%;
    border-radius: 0;
}
.btn{
    margin-top: 3%;
    border: 1px solid #ccc;
    color: #333;
    width: 30%;
    border-radius: 0;
}
#right-form2{
    padding-top: 10px;
    border-top: 1px solid #083a80;
    border-bottom: 1px solid #083a80;
}
#right-form3 p{
    padding: 0 25%;
}
#service-right .title{
    text-align: center;
    color: #083a80;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#service-right{
    position: relative;
}












/*脚注*/

.foot{
    background-color: #f2f2f2;
    padding-top: 40px;
}
.foot a{
    text-decoration: none;
}
.foot a:hover{
    color:#e83d29 ;
}
.foot p{
    color: #333;
}
.foot ul a{
    color: #333;
    text-decoration: none;
}
.foot ul li{
    line-height:28px;
}
.form-group{
    width: 100%;
}
.form-inline button,.form-inline input{
    margin-top: 20px;
}
.form-inline .btn{
    background-color: #e83d29;
    color: white;
    width: auto;
}
.icon-my{
    margin-top: 10px;
}
.last{
    background-color: #cfcfcf;
    padding: 0 120px;
    margin-top: 80px;
}
.last span{
    float: right;
}
@media (max-width: 768px) {
    .last{
        background-color: #cfcfcf;
        padding:60px;
        text-align: center;
        margin-top: 80px;
    }
    .last span{
        float: none;
    }
}
.last>p>span>a{
    color: #333;
}
.last p{
    border-top:1px solid #e3e3e3;
    line-height: 50px;
    margin-left: -5px;
    margin-bottom: 0;
}
